@using Model.Enitites
@{
    ViewBag.Title = "Digitalathletics";

}
@if (Request.IsAuthenticated && ViewData["followedMatches"] != null)
{
    <div class="container">
        @foreach (Match item in (IList<Match>)ViewData["followedMatches"])
        {
            <div class="row">
                @item.AwayTeam
                @item.AwayTeamScore
            </div>
        }
    </div>
}
<div class="container">
    <h1>Latest matches</h1>
    @foreach (Match item in (IList<Match>)ViewData["allMatches"])
    {
        <div class="row">
            <a href="#">
                <div class="col-xs-3">
                    <img class="img-responsive team-logo" src="@item.HomeTeam.LogoURI" />
                </div>
                <div class="col-xs-2">
                    @item.HomeTeam
                </div>     
            </a>
            <div class="col-xs-2">
                @item.HomeTeamScore - @item.AwayTeamScore
            </div>
            <a href="#">
                <div class="col-xs-2">
                    @item.AwayTeam
                </div>
                <div class="col-xs-3">
                    <img class="img-responsive team-logo" src="@item.AwayTeam.LogoURI" />
                </div>
            </a>
        </div>
    }
</div>